<!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
              <div style="float:left;">Posting Date: {{request.session.CurrentDate}}</div>
              <div style="float:right;">Processing Month: {{request.session.CurrPeriodStartDt}}</div>
       </footer>
       <!-- ============================================================== -->
       <!-- End footer -->
       <!-- ============================================================== -->
   