{% load static %}
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark">
      <div class="navbar-header">
          <!-- This is for the sidebar toggle which is visible on mobile only -->
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <a class="navbar-brand" href="/" style="background: #000;">
              <!-- Logo icon -->
              <!--End Logo icon -->
              <!-- Logo text -->
              <span class="logo-text">
                   <!-- dark Logo text -->
                   <img style="height: 70px; width:auto;" src="{% static 'assets/logo.png'%}" alt="homepage" />
                   <!-- Light Logo text -->    
                   <!-- <img src="{% static 'assets/images/logo-light-text.png'%}" class="light-logo" alt="homepage" /> -->
              </span>
          </a>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Toggle which is visible on mobile only -->
          <!-- ============================================================== -->
          <!--<a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>-->
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav me-auto">
              <!--<li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="icon-arrow-left-circle"></i></a></li>-->
              <!-- ============================================================== -->
              <!-- Comment -->
              <!-- ============================================================== -->
              
              <!-- ============================================================== -->
              <!-- End Comment -->
              <!-- ============================================================== -->
              <!-- ============================================================== -->
              <!-- Messages -->
              <!-- ============================================================== -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" id="2"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                      {% if request.session.comp_id == 'IJC' %}
                        IJC
                      {% elif request.session.comp_id == 'IGC' %}
                        IGC
                      {% else %}
                        Select Company 
                      {% endif %}
                      
                      <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                  </a>
                  <div class="dropdown-menu mailbox dropdown-menu-start dropdown-menu-animate-up"
                      aria-labelledby="2">
                      <ul class="list-style-none">
                        {% for obj in companies%}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="/changecompany/{{ obj.0 }}">{{ obj.0 }}</a>
                        {% endfor %}
                      </ul>
                  </div>
              </li>
              <!-- ============================================================== -->
              <!-- End Messages -->
              <!-- ============================================================== -->
              <!-- ============================================================== -->
              <!-- mega menu -->
              <!-- ============================================================== -->
              
              <!-- ============================================================== -->
              <!-- End mega menu -->
              <!-- ============================================================== -->
          </ul>
          <!-- ============================================================== -->
          <!-- Right side toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#">File</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Invoicing</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-bs-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Debtors</a>
                <div class="dropdown-menu dropdown-menu-end user-dd animated flipInY">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/debtor-aging-detail/">Aging Detail</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Creditors</a></li>
            <li class="nav-item"><a class="nav-link" href="#">1BP</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Statement</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/">Admin</a></li>
              <!-- ============================================================== -->
              <!-- Search -->
              <!-- ============================================================== -->
              <li class="nav-item search-box d-none d-md-block">
                <form class="app-search mt-3 me-2">
                    <input type="text" class="form-control rounded-pill border-0" placeholder="Search for..."> 
                    <a class="srh-btn"><i data-feather="search" class="feather-sm fill-white mt-n1"></i></a> 
                </form>
                </li>
              <!-- ============================================================== -->
              <!-- User profile and search -->
              <!-- ============================================================== -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-bs-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <img src="{% static 'assets/images/users/5.jpg'%}" alt="user" width="30" class="profile-pic rounded-circle" />
                  </a>
                  <div class="dropdown-menu dropdown-menu-end user-dd animated flipInY">
                      <div class="d-flex no-block align-items-center p-3 bg-info text-white mb-2">
                          <div class=""><img src="{% static 'assets/images/users/5.jpg'%}" alt="user" class="rounded-circle" width="60"></div>
                          <div class="ms-2">
                              <h4 class="mb-0 text-white">{{request.user.username}}</h4>
                              <p class=" mb-0">{{request.user.email}}</p>
                          </div>
                      </div>
                      <a class="dropdown-item" href="#"><i data-feather="user" class="feather-sm text-info me-1 ms-1"></i> My
                          Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout' %}"><i data-feather="log-out"
                              class="feather-sm text-danger me-1 ms-1"></i> Logout</a>
                      <div class="dropdown-divider"></div>
                      <div class="pl-4 p-2"><a href="#"
                              class="btn d-block w-100 btn-info rounded-pill">View Profile</a></div>
                  </div>
              </li>
              <!-- ============================================================== -->
              <!-- User profile and search -->
              <!-- ============================================================== -->
              <!-- ============================================================== -->
              <!-- Language  -->
              <!-- ============================================================== -->
              
          </ul>
      </div>
  </nav>
</header>